###############################################################################
# cpld_pins.ucf - XC2C256-7FTG256C (FTG256) - 2m_Dboard
# Pinout по листу CPLD (D16A..F)
###############################################################################

# Ѕанк 3.3V (по схеме) - общий I/O standard
NET "*" IOSTANDARD = LVCMOS33;

###############################################################################
# RX SPI (master -> CPLD)
###############################################################################
NET "SCLK_RX"  LOC = "M2";   # GCK0
NET "SEN_RX"   LOC = "P2";  # CDRST как I/O, удобно держать неактивным
NET "MOSI_RX"  LOC = "R1";
NET "MISO_RX"  LOC = "R2" | PULLUP;

###############################################################################
# LTC6948 SPI
###############################################################################
NET "SCLK_LTC6948"  LOC = "T3";
NET "MOSI_LTC6948"  LOC = "R4";
NET "CS_LTC6948"    LOC = "T4";
NET "MISO_LTC6948"  LOC = "T1";
NET "STAT_LTC6948"  LOC = "T6";

###############################################################################
# LTC5594
###############################################################################
NET "SEN_LTC5594"   LOC = "B6";
NET "SCLK_LTC5594"  LOC = "C1";
NET "MOSI_LTC5594"  LOC = "B2";
NET "MISO_LTC5594"  LOC = "B1" | PULLUP;

###############################################################################
# AD7922 (ADC1)
###############################################################################
#NET "SDO_AD7922"    LOC = "A4";
#NET "SEN_AD7922"    LOC = "C1" | PULLUP;
#NET "SCLK_AD7922"   LOC = "B2";
#NET "SDI_AD7922"    LOC = "B1";

###############################################################################
# AD7922_2 (ADC2)
###############################################################################
#NET "SDO_AD7922_2"  LOC = "B11";
#NET "SEN_AD7922_2"  LOC = "A11" | PULLUP;
#NET "SCLK_AD7922_2" LOC = "A12";
#NET "SDI_AD7922_2"  LOC = "B12";

###############################################################################
# ATT control
###############################################################################
NET "ATT1_RX_C1"    LOC = "C16";
NET "ATT1_RX_C2"    LOC = "B16";
NET "ATT2_RX_LE"    LOC = "B14";
NET "ATT2_SCLK_RX"  LOC = "A15";
NET "ATT2_MOSI_RX"  LOC = "B15";

###############################################################################
# GPIO cpld_io_00..15
###############################################################################
#NET "cpld_io_00" LOC = "M3";
#
#NET "cpld_io_01" LOC = "D2";
#NET "cpld_io_02" LOC = "E2";
#NET "cpld_io_03" LOC = "F3";
#NET "cpld_io_04" LOC = "F2";
#NET "cpld_io_05" LOC = "G3";
#NET "cpld_io_06" LOC = "H1";
#NET "cpld_io_07" LOC = "H2";
#
#NET "cpld_io_08" LOC = "L5";
#NET "cpld_io_09" LOC = "L4";
#NET "cpld_io_10" LOC = "L3";
#NET "cpld_io_11" LOC = "M1";
#NET "cpld_io_12" LOC = "N2";
#NET "cpld_io_13" LOC = "N1";
#NET "cpld_io_14" LOC = "N3";
#NET "cpld_io_15" LOC = "P1";


NET "CPLD_i[0]" LOC = "M3";

NET "CPLD_i[1]" LOC = "D2";
NET "CPLD_i[2]" LOC = "E2";
NET "CPLD_i[3]" LOC = "F3";
NET "CPLD_i[4]" LOC = "F2";
NET "CPLD_i[5]" LOC = "G3";
NET "CPLD_i[6]" LOC = "H1";
NET "CPLD_i[7]" LOC = "H2";

NET "CPLD_i[8]" LOC = "L5";
NET "CPLD_i[9]" LOC = "L4";
NET "CPLD_i[10]" LOC = "L3";
NET "CPLD_i[11]" LOC = "M1";
NET "CPLD_i[12]" LOC = "N2";
NET "CPLD_i[13]" LOC = "N1";
NET "CPLD_i[14]" LOC = "N3";
NET "CPLD_i[15]" LOC = "P1";


###############################################################################
# LED / Power enable
###############################################################################
NET "LED_RX" LOC = "L16";
NET "TPS_EN" LOC = "K16";

###############################################################################
# JTAG (обычно можно не задавать в UCF; оставл€ю как справку)
###############################################################################
#NET "TCK" LOC = "P12";
#NET "TDI" LOC = "R11";
#NET "TDO" LOC = "A10";
#NET "TMS" LOC = "N12";

###############################################################################
# (ќпционально) тайминг на SCLK_RX, если хочешь тайминговые отчЄты:
###############################################################################
#NET "SCLK_RX" TNM_NET = "TN_SCLK_RX";
#TIMESPEC "TS_SCLK_RX" = PERIOD "TN_SCLK_RX" 100 ns HIGH 50%;
